alembic
azure-common
pyOpenSSL
azure-storage-blob
certifi
cffi
chardet
click
cryptography==42.0.7
Flask
Flask-Login
Flask-Session
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
Mako
MarkupSafe
msal
pycparser
pyodbc
python-dateutil
python-editor
requests
setuptools==65.7.0
six
SQLAlchemy
urllib3
Werkzeug
WTForms